<div class="container col-md-12">
         <span class="pull-right"><b>JBuyer</b> - Módulo Empresa balablablablalbal</span>  
          <hr>
          <b>Endereço: </b><span>fdasfadsfasdfasdfasd </span>
          <b>Rua: </b><span>fdfasdfasd </span>
          
        
        
        
        
        
       
        </div>

 <%= @data_ini %>
        <%= @data_fin %>
        
        <% @pedidos.each do |p| %>
          <%= p.status %>
        <% end %>