<div id="page-wrapper">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Gerar Relatório</h2>
      </div>
      
        <%= @data_ini %>
        <%= @data_fin %>
        
        <% @pedidos.each do |p| %>
          <%= p.status %>
        <% end %>
      
    </div>
  </div>
</div>
