<div class="panel-body">
  <div class='container-fluid'>
    <div style='display: block;' class="col-xs-6 esquerdo ">


      <label>Pedido - <%= @pedido.id%></label> <br>
      <label>Nome Cliente</label> <br>
      <label>Telefone</label> <br>
      <label>N.Pedido</label> <br>
    </div>
    <div class="col-xs-6 pull-right">
      <h1>Preço Total</h1>
      <h3>R$</h3>
    </div>

    <table class='table'>
      <tr>
        <th>cod</th>
        <th>nome</th>
        <th>qtd</th>
        <th>p.un</th>
        <th>p.tot</th>
      </tr>
      <tbody>
        <% @pedido.produtos.each do |cada| %>
          <tr>
            <td>
              <%= cada.id %>
            </td>
            <td>
              <%= cada.produto %>
            </td>
            <td>quantidade implementar</td>
            <td>R$
              <%= cada.valor %>
            </td>
            <td>valor total implementar</td>
          </tr>
          <% end %>
      </tbody>
    </table>

  </div>

</div>