<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">

      <%= form_for([:backoffice, @pedido]) do |f| %>

 

        <div class="form-group">
          <%= f.label :status %>
            <%= f.collection_radio_buttons(:status, options_for_status, :id, :description) do |b| %>
              <div class="radio">
                <%= b.label { b.radio_button + b.value} %>                
              </div>
              <% end %>
        </div>
        

        <button type="submit" class="btn btn-default">Salvar</button>
        <% end %>

    </div>
  </div>
</div>